/Library/ 
/Temp/ 
/Logs/ 
/UserSettings/ 
/Obj/ 
/Build/ 
/Builds/ 
/MemoryCaptures/ 
/Packages/com.unity.package-manager-ui/ 
*.csproj 
*.sln 
*.unityproj 
*.tmp 
*.user 
*.pidb 
*.booproj 
*.svd 
*.pdb 
*.mdb 
*.opendb 
*.VC.db 
